<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../public/styles/basic.css" />
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="">
<div ng-include="'headerAndNav.html'"></div>
<div id="content">
<p id="intro">
    Welcome to the Website of INFINITE,which is created by Sonal.
    Here,you can <a href="about.html">learn more about</a> the group.
    view <a href="photo.html">photos of them</a>.
    find out the <a href="live.html">arrangements of concerts</a>.
    and <a href="contact.html">contact us</a>
</p>
    </div>
</body>
</html>