<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../public/styles/basic.css" />

</head>
<body>
<div id="logIn">
    <h1>Log In</h1>
    <form id="form" name="form" method="get">
        <label for="name">Username:</label>
        <input id="name" name="name" type="text" /><br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" /><br/>
        <button type="submit">Log In</button>
        <button type="reset">Cancel</button>
    </form>
</div>

</body>
</html>