<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFINITE</title>
    <link rel="stylesheet" href="../public/styles/basic.css" />
    <script src="../public/scripts/global.js"></script>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>

</head>
<body>


<div ng-app="">
    <div ng-include="'headerAndNav.html'"></div>
<div id="content">
    <h1>INFINITE</h1>
    <p>
        INFINITE is a dance idol group in Korean,who is famous for their orderly and handsome dance.They are my favorite stars,
        especially their leader Kim Sung Kyu.
    </p>
    <p>
        In the beginning,they had a hard life after their debut without a good company and much money.And also they had a terrible
        images initially.So they practiced and practiced and practiced.After getting through many obstacles and working hard for a
        long time,they finally made it.I think they totally deserve it.
    </p>
    <p>
        Many people think it's stupid to go after stars,especially k-pop stars,holding the opinion that it is a thing wasting time and
        money.I don't want to change their thoughts,and I only want to say I get a lot of joy and motivation from them and the process.
        This kind of feeling can only be attained by people who get through it.
    </p>
</div>


</body>
</html>